.marquee {
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  background-color: dark;
}
   
.marquee p {
  display: inline-block;
  /*padding-left: 0%;*/
  animation: marquee_animation 8s linear infinite; /*Change to adjust speed*/
}
   
@keyframes marquee_animation {
  0% {
    transform: translateX(100%);    
  }

  100% {
    transform: translateX(-100%);
  }
}

.name-container {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.name {
  display: inline-block;
  overflow-y: hidden;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {

  0% {
    transform: translateY(-20%);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
  
}

.navigation-bar {
  background-color:darkgray;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 1;
  overflow-x: hidden; /*disable horizontal scroll*/
  transition: 0.5s;
}

body  {
  margin: 0;
  padding: 0;
}

.page {
  background-color: black;
  color: whitesmoke;
}